@media (max-width: 850px) and (min-width: 1px){

.hola{
	background-color: white;
	width: 100%;

}

.hola ul{
	text-align: right;
	color: gray;
	width: 100%;
	  display: block;
  position: relative; 

}

.hola ul li a:hover{
	color: gray;
}

.navbar-nav{
	background-color: white;
	width: 100%;
}
.first-section{
	height: 120vh;
}
#contacto{
	height: 100vh;
}
.listinfo {
	width: 100%;
}
.input_textual{
	margin-top: 2rem;
}

.box{
	height: 130vh;
	 background-attachment: fixed;
}

.box1{
	height: 50vh;
	 background-attachment: fixed;
}

.bajo{
	margin-top: 4rem;
}
.raya{
  width: 20%;
  border-top: 3px solid #fd7200;
}
.historyp{
  text-align: justify;
  padding: 0 0.1rem;
}

/*--------SERVICIOS----------*/

/*--------MODAL----------*/
#modalser{
	height: 100vh;
	width: 100%;
	background-image: url(../img/modal1min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.modalbox{
  margin-top: 1rem;
  display: block;
  margin-left: 30px;
}
.list{
	border-radius: none;
  display: block;

}
.textfooter1{
	  margin-left: 3%;
}
.gallery_product{
	width: 50%;
}

.logofooter{
  width: 30%;
  margin-left: 5rem;
}

.ulfooter{
  list-style: none;
  margin-left: 3%;
  margin-top: 2rem;
  font-size: 14px;
}

.socialMedia-footer {
  margin: 10px 10px;
}

.socialMedia-footer > a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 25px;
  text-align: center;
  align-items: center;
}





}